/*footer pegajoso*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #eeeeee;
}

main {
	flex: 1 0 auto;
}


/*Cor da sidebar*/
.sidenav{
	background-color: #2a4663;
}

.colap-sid{
	background-color: #1e344a;

}

nav{
	height: 30px;
	border-bottom: 1px solid #e0e0e0;

}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	height: 30px;
	line-height: 30px;
	color: #757575;
}

@media only screen and (min-width: 601px) {
	nav a.sidenav-trigger,
	nav a.sidenav-tigger i,
	nav .nav-wrapper i {
		height: 30px !important;
		line-height: 30px !important;
	}

hr{
	border-color: #607d8b; 
}

.corHr{
	border-color: #e0e0e0;
}

.linkcor{
	color: #f44336;
}

a:hover.linkcor{
	color:; red;
}

/*alinhamento das páginas dentro da dashboard */
.margin-dash{
    margin-left: 310px;
}

.margin-dash-nomal{
    margin-left: 100px;
}
/*Alinhamento dos botões colapsados*/
.margin-colap{
    margin-left: 14px;
}


[type="ckeckbok"]:not(:checked), [type="ckeckbox"]:checked {
     position: relative;
     opacity: 1;
}