/*footer pegajoso*/
body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background: #eeeeee;
}

main {
	flex: 1 0 auto;
}

.sidenav{
	background-color: #2a3f54;
}
.drop-sid{
	background-color: #2a2f54;
}

nav{
	height: 30px;
	border-bottom: 1px solid #e0e0e0;

}



nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	height: 30px;
	line-height: 30px;
	color: #757575;
}

hr{
	border-color: #607d8b; 
}

@media only screen and (min-width: 601px) {
	nav a.sidenav-trigger, 
	nav a.sidenav-tigger i,
	nav .nav-wrapper i {
		height: 30px !important;
		line-height: 30px !important;
	}
}

.linkcor{
	color: #f44336;
}

a:hover.linkcor{
	color:; red;
}



/*index2*/

.corHr{
	border-color: #e0e0e0;
}

.input-field {
	position: relative;
	margin-top: -1rem;
	margin-left: -10px

}
.margin-dash{
    margin-left: 310px;
}

.margin-dash-nomal{
    margin-left: 100px;
}

div.menu ul li:hover{
   background-color: #ffc107;
}


[type="checkbox"]:not(:checked), [type="radio"]:checked {
     position: relative;
     opacity: 1;
}
