{% extends "base.html" %}
{% block content %}

        <!--{% for frequencia in frequencias %}
        <tr>
            <td>{{frequencia.frequencia_extensionista.nome_completo}}</td>
            <td>{{frequencia.frequencia_extensionista.workshop_extensionista.nome_workshop}}</td>
            <td>{{frequenciaWorkshopForm}}</td>
        </tr>
        {% endfor %}-->


<div class="row">
    <div class="col s12">
         <div class="card white">
             <div class="card-title center-align ">
                 <div class="col s12 amber accent-4">
                     <p><strong>Frequência do workshop de {{ workshop }}</strong></p>
                 </div>
             </div>
             <div class="card-content">
                <table class="highlight">
                    <thead>
                      <tr>
                          <th>Nome</th>
                          <th>Matrícula</th>

                      </tr>
                    </thead>
                    {% for aluno in aluno %}
                        <tbody>
                            <tr>
                                <td><a href="{% url 'presenca' aluno.pk %}">{{ aluno.nome_completo }}</a></td>

                                <td>{{ aluno.matricula_extensionista }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
             </div>
             <div class="card-action grey lighten-4">
                <div class="row">
                    <div class="right">
                         <div class="col">
                            <a href=""  class="waves-effect waves-light btn  light-blue  darken-4" >Salvar</a>
                        </div>
                        <div class="col">
                            <a href="{% url 'frequencia' %}"  class="waves-effect waves-light btn light-blue darken-4" >voltar</a>
                        </div>
                    </div>
                </div>

             </div>
         </div>
    </div>
</div>
{% endblock %}
