{% extends "base.html" %}
{% block content %}
    <div class="col-lg-12">
    <h2>Alunos do {{ workshop }}</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Nome do Aluno</th>
          <th>Matrícula do Aluno</th>
        </tr>
      </thead>
      {% for aluno in aluno %}
        <tr>
            <td><a href="{% url 'desempenho_form' aluno.pk %}">{{ aluno.nome_completo }}</a></td>
          <td>{{ aluno.matricula_extensionista }}</td>
        </tr>
      {% endfor %}
    </table>
</div>
{% endblock %}