{% load static %}
 <!DOCTYPE html>
 <html lang="pt-br">
 <head>
  <title>Base para tela de login</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/normalize.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="{% static 'css/rulesicons.css' %}"  media="screen,projection"/>
  <!--Metas-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta charset="utf-8">
</head>
<body>
  <!--Início do main contendo a base django-->

  <main class="login-page">
    <div class="container margin-dash ">
      {% block content %}
      {% endblock %}
    </div>
  </main>

  <!--JavaScript at end of body for optimized loading-->
  <script src="{% static 'js/materialize.min.js' %}"></script>
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>
  <script src="{% static 'js/init.js' %}"></script>
</body>
</html>